﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<p>This application exists to create volleyball teams based on given player skill sets.</p>
<p>Players are uploaded through the Bulk Import/Export interface and their skills are updated as a result of the updates.</p>
