﻿<!DOCTYPE html>
<html data-ng-app="vbApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("head", false)
</head>
<body>
    <div class="page">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-th-list"></span></button>
                    <a class="navbar-brand" href="~/">Volleyball Team Generator</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav"><a href="~/TeamGeneration">Generate Teams</a></li>
                        <li class="nav"><a href="~/Players/BulkImportExport">Import / Export</a></li>
                        <li class="nav"><a href="~/Players/FindPlayers">Find Players</a></li>
                        <li class="nav"><a href="~/Players/AddPlayer">Add Player</a></li>
                        <li class="nav"><a href="~/About">About</a></li>
                    </ul>
                    <div class="loginDisplay navbar-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        <div class="clear"></div>
    </div>

    @Scripts.Render("~/bundles/angular-animate")
    @Scripts.Render("~/bundles/required")
    @Scripts.Render("~/bundles/angular/app")
    @Scripts.Render("~/bundles/angular/app/common")
    <script type="text/javascript">
        var rootPath = "@Url.Content("~")";
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
