﻿.small-column-width {
  width: 50px;
}
.signInList table,
.signInList th,
.signInList td {
  border: solid 1px #000;
  border-collapse: collapse;
}
.playersTable {
  font-size: 16px;
}
input {
  max-height: 24px;
}
@media print {
  input {
    border: none;
  }
  .printButton {
    display: none;
  }
  .headerTable {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=PrintSignInSheet.css.map */