﻿.longInput {
  width: 220px;
}
.swapPlayer {
  background-color: #18bc9c !important;
  color: #fff !important;
}
/* important so overrides tr bg color rules */
.teamTable {
  font-size: 24px;
}
.teamTable th,
.teamTable td {
  padding: 12px 6px;
}
.teamTable:nth-child(2n+1) {
  clear: left;
}
#divOutputTeamsSection:after {
  clear: both;
}
@media print {
  .hideOnPrint {
    display: none;
  }
}
/*# sourceMappingURL=TeamGeneration.css.map */