﻿@{
    ViewBag.Title = "Add Player";
}

@section scripts {
    @Scripts.Render("~/bundles/angular/app/addPlayer");
}

<div data-ng-controller="addPlayerController">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel">
                <div class="panel-body">
                    <form name="formAddPlayer">
                        <table>
                            <tr><th>First Name</th><td><input type="text" data-ng-model="addedPlayer.FirstName" required /></td></tr>
                            <tr><th>Middle Name</th><td><input type="text" data-ng-model="addedPlayer.MiddleName" /></td></tr>
                            <tr><th>Last Name</th><td><input type="text" data-ng-model="addedPlayer.LastName" required /></td></tr>
                            <tr><th>Gender</th><td><select data-ng-model="addedPlayer.Gender" data-ng-options="gender for gender in ['F', 'M']" required></select></td></tr>
                            <tr><th>Email</th><td><input type="email" data-ng-model="addedPlayer.Email" /></td></tr>
                            <tr><th>Comments</th><td><textarea type="text" data-ng-model="addedPlayer.Comments" rows="3"></textarea></td></tr>
                        </table>
                    </form>
                </div>
            </div>
            <p>
                <button class="btn btn-primary" data-ng-click="addPlayer()" data-ng-disabled="formAddPlayer.$invalid">Add Player</button><br />
                <span style="font-size: 10px; font-style: italic;">* = required</span>
            </p>
        </div>
    </div>
</div>

