﻿@{
    ViewBag.Title = "Bulk Import/Export";

}

@section scripts {
    @Scripts.Render("~/bundles/angular/app/bulkImportExport");
}

<div data-ng-controller="bulkImportExportController">
    <h1>@ViewBag.Title</h1>
    <p>This page is used to import or export player skills to/from the database.</p>
    <p>Choose a group to Import/Export players to/from: <select data-ng-model="selectedGroup" data-ng-options="group as group.Name for group in allGroups"></select></p>
    <div data-ng-show="selectedGroup != null">
        <h2>Import</h2>
        <div>
            <p>To import a list of players and skills, use the file upload and click the button below: <form name="formUploadFile"><input type="file" data-ng-model="uploadedFile" required /></form></p>
            <p><button type="button" class="btn btn-primary" data-ng-click="importPlayers()">Import Players</button></p>
        </div>
        <div data-ng-show="uploadedPlayers != null">
            <h3>Players Added/Updated</h3>
            <table class="gridView">
                <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Gender</th><th>Active</th><th>Comments</th></tr>
                <tr data-ng-repeat="player in uploadedPlayers" data-ng-class-even="'gridViewRow'" data-ng-class-odd="'alternateRow'">
                    <td>{{ player.FirstName }}</td>
                    <td>{{ player.LastName }}</td>
                    <td>{{ player.Email }}</td>
                    <td>{{ player.Gender }}</td>
                    <td>{{ player.Active }}</td>
                    <td>{{ player.Comments }}</td>
                </tr>
            </table>
        </div>
        <h2>Export</h2>
        <p>To export the current list of players click the button below:</p>
        <p><a class="btn btn-primary" data-ng-href="ExportPlayers?playerGroupId={{ selectedGroup.Id }}" target="_blank">Export Players</a></p>
    </div>
</div>

