﻿@{
    ViewBag.Title = "Find Players";
}
@section scripts {
    @Scripts.Render("~/bundles/angular/app/findPlayers");
}
<div data-ng-controller="findPlayersController">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Filters</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table>
                        <tr><th>First Name</th><td><input type="text" data-ng-model="filterFirstName" /></td></tr>
                        <tr><th>Last Name</th><td><input type="text" data-ng-model="filterLastName" /></td></tr>
                        <tr><th>Email</th><td><input type="text" data-ng-model="filterEmail" /></td></tr>
                        <tr><th>Gender</th><td><select class="overrideWidth" data-ng-model="filterGender"><option></option><option>F</option><option>M</option></select></td></tr>
                        <tr><th>Group(s)</th><td><select multiple="multiple" data-ng-model="filterGroups" data-ng-options="group as group.Name for group in allPlayerGroups" /></td></tr>
                    </table>
                    <p><button type="button" class="btn btn-primary" data-ng-click="findPlayers()">Find Players</button></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" data-ng-show="matchingPlayers != null">
            <h2>Results</h2>
            <div class="resultsColumn">
                <p>Search returned {{matchingPlayers.length}} Results</p>
                <table class="gridView">
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="player in matchingPlayers" data-ng-class-odd="'alternateRow'">
                        <td>{{player.PlayerName}}</td>
                        <td>{{player.Gender}}</td>
                        <td>{{player.Email}}</td>
                        <td>{{player.Active}}</td>
                        <td>{{player.Comments}}</td>
                        <td><a class="btn btn-default" data-ng-href="ManagePlayer/{{player.Id}}">Edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>