﻿@{
    ViewBag.Title = "Manage Player";
}

@section scripts {
    @Scripts.Render("~/bundles/angular/app/managePlayer");
    <script type="text/javascript">
        var playerId = @ViewBag.PlayerId;
    </script>
}

<div data-ng-controller="managePlayerController">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Player Details</h2>
            <table class="detailsView">
                <tr><th>First Name</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.FirstName }}</span><span data-ng-show="editingPlayer"><input type="text" data-ng-model="editPlayer.FirstName" /></span></td></tr>
                <tr><th>Middle Name</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.MiddleName }}</span><span data-ng-show="editingPlayer"><input type="text" data-ng-model="editPlayer.MiddleName" /></span></td></tr>
                <tr><th>Last Name</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.LastName }}</span><span data-ng-show="editingPlayer"><input type="text" data-ng-model="editPlayer.LastName" /></span></td></tr>
                <tr><th>Gender</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.Gender }}</span><span data-ng-show="editingPlayer"><select data-ng-model="editPlayer.Gender" data-ng-options="gender as gender for gender in ['F','M']"></select></span></td></tr>
                <tr><th>Email</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.Email }}</span><span data-ng-show="editingPlayer"><input type="text" data-ng-model="editPlayer.Email" /></span></td></tr>
                <tr><th>Active</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.Active }}</span><span data-ng-show="editingPlayer"><select data-ng-model="editPlayer.Active" data-ng-options="active as active for active in [true,false]"></select></span></td></tr>
                <tr><th>Comments</th><td><span data-ng-show="!editingPlayer">{{ viewPlayer.Comments }}</span><span data-ng-show="editingPlayer"><textarea rows="3" data-ng-model="editPlayer.Comments"></textarea></span></td></tr>
                <tr><td colspan="2">
                    <div data-ng-show="!editingPlayer">
                        <button type="button" class="btn btn-primary" data-ng-click="switchPlayerToEditMode()">Edit</button>
                    </div>
                    <div data-ng-show="editingPlayer">
                        <button type="button" class="btn btn-primary" data-ng-click="updatePlayerAndCancelEditMode()">Update</button> <button type="button" class="btn btn-default" data-ng-click="cancelPlayerEditMode()">Cancel</button>
                    </div>
                </td></tr>
            </table>

            <h2>Player Groups</h2>
            <table class="gridView">
                <tr data-ng-repeat="playerGroup in allPlayerGroups" data-ng-class-odd="'alternateRow'">
                    <td><input type="checkbox" data-ng-model="playerGroup.Selected" data-ng-change="groupSelected(playerGroup)" /> {{playerGroup.Name}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h2>Player Attributes</h2>
            <table class="gridView" data-ng-show="viewPlayer.PlayerAttributes.length > 0">
                <tr><th>Group Name</th><th>Attribute Name</th><th>Level</th><th></th></tr>
                <tr data-ng-repeat="viewPlayerAttribute in viewPlayer.PlayerAttributes" data-ng-class-odd="'alternateRow'">
                    <td>{{viewPlayerAttribute.PlayerGroupName}}</td>
                    <td>{{viewPlayerAttribute.VolleyballAttributeName}}</td>
                    <td><span data-ng-show="!attributeIsSelected(viewPlayerAttribute)">{{viewPlayerAttribute.VolleyballAttributeLevel}}</span><span data-ng-show="attributeIsSelected(viewPlayerAttribute)"><input class="shortText" type="number" data-ng-model="editPlayerAttribute.VolleyballAttributeLevel" min="1" max="10" step="1" data-focus-me="focusInput && viewPlayerAttribute.VolleyballAttributeId == editPlayerAttribute.VolleyballAttributeId" /></span></td>
                    <td>
                        <div data-ng-show="!attributeIsSelected(viewPlayerAttribute)">
                            <button type="button" class="btn btn-default" data-ng-click="switchPlayerAttributeToEditMode(viewPlayerAttribute)">Edit</button>
                        </div>
                        <div data-ng-show="attributeIsSelected(viewPlayerAttribute)">
                            <button type="button" class="btn btn-primary" data-ng-click="updatePlayerAttributeAndCancelEditMode()">Update</button> <button type="button" class="btn btn-default" data-ng-click="cancelPlayerAttributeEditMode()">Cancel</button>
                        </div>
                    </td>
                </tr>
            </table>
            <div data-ng-show="viewPlayer.PlayerAttributes.length == 0">
                <p>No attributes are defined yet for this player. Add this player to a player group to get started.</p>
            </div>
        </div>
        <div class="clear col-xs-12">
            <h2>Related Actions</h2>
            <ul>
                <li><a href="~/Players/AddPlayer">Add a Player</a></li>
                <li><a href="~/Players/FindPlayers">Find Players</a></li>
            </ul>
        </div>
    </div>
</div>


