﻿@{
    ViewBag.Title = "Generate Teams";
}

@section head {
    @Styles.Render("~/Content/pages/generateTeams")
}

@section scripts {
    @Scripts.Render("~/bundles/angular/app/generateTeams")
}

<div data-ng-controller="generateTeamsController">
    <div id="topSection" class="row" data-ng-hide="printMode">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>
            <p>Choose a pool of players to select from: <select data-ng-model="selectedGroup" data-ng-options="group as group.Name for group in allGroups" data-ng-change="selectedGroupChanged()"></select></p>
        </div>
    </div>
    <div class="row" data-ng-show="selectedGroup != null && !printMode">
        <div id="configurationOptions" class="panel panel-default col-xs-12 col-sm-6 col-md-5">
            <div class="panel-body">
                <h2>Load Saved List</h2>
                <p><select data-ng-model="selectedSavedPlayerList" data-ng-options="playerList as playerList.Name for playerList in selectedGroupPlayerLists" data-ng-change="selectedSavedPlayerListChanged()"></select> <span data-ng-show="selectedSavedPlayerList != null"><button class="btn btn-default" data-ng-click="deleteSelectedSavedPlayerList()">Delete</button> <a class="btn btn-default" data-ng-href="@Url.Content("~")TeamGeneration/PrintSavedPlayerList/{{ selectedSavedPlayerList.Id }}" target="_blank">Print Sign-In</a></span></p>
                <h2>Players List</h2>
                <p>
                    <input list="players" class="longInput" data-ng-model="addedPlayerName" />
                    <datalist id="players">
                        <option data-ng-repeat="player in selectedGroupPlayers" value="{{player.PlayerName}}"></option>
                    </datalist> <button type="button" class="btn btn-default" data-ng-click="addPlayerToList()">Add Player</button>
                </p>
                <p><button type="button" class="btn btn-default" data-ng-click="savePlayerList()">Save As List</button> <span class="success fadeText" data-ng-show="playerAdded">{{ lastPlayerAddedName }} Added to List</span> <span class="success fadeText" data-ng-show="playerListSaved">List '{{ selectedSavedPlayerList.Name }}' Saved</span></p>
                <p><button type="button" class="btn btn-default" data-ng-click="clearPlayerList()">Clear All Players</button></p>
            </div>
        </div>
        <div id="divAddedPlayers" class="col-xs-12 col-sm-6 col-md-3">
            <h2>Added Players</h2>
            <div data-ng-show="playerList.length > 0">
                <table class="gridView">
                    <tr data-ng-repeat="player in playerList" data-ng-class-odd="'alternateRow'">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ player.PlayerName }}</td>
                        <td><span class="fauxLink" data-ng-click="removePlayerFromList($index)">Remove</span></td>
                    </tr>
                </table>
            </div>
            <div data-ng-show="playerList.length == 0">
                <p>No players have been added to the list yet</p>
            </div>
        </div>
        <div id="divGenerationOptions" class="panel panel-default col-xs-12 col-sm-6 col-md-4">
            <div class="panel-body">
                <h2>Generation Options</h2>
                <div data-ng-show="savedTeamsList != null && savedTeamsList.length > 0">
                    <h3>Load Saved Teams</h3>
                    <p><select data-ng-model="selectedSavedPlayersListTeamList" data-ng-options="savedTeamList as savedTeamList.Name for savedTeamList in savedTeamsList" data-ng-change="selectedSavedPlayersListTeamListChanged()"></select> <button type="button" class="btn btn-default" data-ng-click="deleteSavedTeamsList()" data-ng-show="selectedSavedPlayersListTeamList != null">Delete</button> <span class="success fadeText" data-ng-show="savedTeamsLoaded">Teams for list '{{ selectedSavedPlayersListTeamList.Name }}'loaded</span></p>
                </div>
                <h3>Generate New Teams</h3>
                <table>
                    <tr><td>Number of Teams</td><td><input type="number" data-ng-model="selectedNumberOfTeams" min="2" class="longInput" /></td></tr>
                    <tr><td>Generation Strategy</td><td><select data-ng-model="selectedGenerationStrategy" data-ng-options="generationStrategy as generationStrategy.Name for generationStrategy in allGenerationStrategies" class="longInput"></select></td></tr>
                </table>
                <p><button class="btn btn-primary" data-ng-disabled="selectedNumberOfTeams == undefined || selectedGenerationStrategy == null || playerList.length == 0" data-ng-click="generateTeams()">Generate Teams</button></p>
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="generatedTeams != null">
        <div class="col-xs-12">
            <p data-ng-show="printMode">Team Generation Strategy: {{ selectedGenerationStrategy.Name }}</p>
            <div id="divOutputTeamsSection">
                <h2>Generated Teams</h2>
                <p><button class="btn btn-default" data-ng-show="!printMode" data-ng-click="toggleEditTeams()"><span data-ng-show="!editing">Make Teams Editable</span><span data-ng-show="editing">Cancel Edit Teams</span></button> <button type="button" class="btn btn-default" data-ng-click="saveTeams()" data-ng-show="selectedSavedPlayerList != null">Save Teams</button> <span class="success fadeText" data-ng-show="teamsSaved">Teams successfully saved</span></p>
                <div id="divTeamOutput">
                    <table class="teamTable col-xs-6" data-ng-repeat="team in generatedTeams">
                        <tr><th data-ng-class="{hover: editing}" data-ng-click="swapPlayer(team, null)">{{ team.Name }}</th></tr>
                        <tr data-ng-repeat="player in team.Players" data-ng-class-odd="'alternateRow'">
                            <td data-ng-class="{hover: editing, swapPlayer: player == selectedPlayer}" data-ng-click="swapPlayer(team, player)">{{ player.PlayerName }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <p class="hideOnPrint col-xs-12"><button class="btn btn-primary" data-ng-show="printMode" data-ng-click="printPage()">Print This Page</button> <button class="btn btn-default" data-ng-click="printTeams()"><span data-ng-show="!printMode">Print Teams</span><span data-ng-show="printMode">Return</span></button></p>
    </div>
</div>