﻿@{
    ViewBag.Title = "Volleyball Sign-in Sheet";
}

@section head {
    @Styles.Render("~/Content/pages/printSavedPlayerList")
}

@section scripts {
    @Scripts.Render("~/bundles/angular/app/printSavedPlayerList")
    <script type="text/javascript">
        var listId = @ViewBag.Id;
    </script>
}

<div data-ng-controller="printSavedPlayerListController">
    <h1>@ViewBag.Title</h1>
    <div class="signInList row">
        <table class="col-xs-12 headerTable">
            <tr class="row"><th class="col-xs-4">Date: <input type="text" class="dateText" data-ng-model="printDate" data-ng-change="setPrintDateDay()" /> {{ printDateDay | date: "EEEE" }}</th><th class="col-xs-3">Time: <input type="time" /></th><th class="col-xs-5">Group Leader: <input type="text" /></th></tr>
        </table>
        <table class="col-xs-12 playersTable">
            <tr>
                <th colspan="2"></th>
                <th colspan="2" class="text-center">Paid</th>
            </tr>
            <tr>
                <th class="text-right">#</th>
                <th>Player: (1 player per line, first & last name, please print clearly)</th>
                <th class="text-center small-column-width">Cash</th>
                <th class="text-center small-column-width">Coupon</th>
            </tr>
            <tr data-ng-repeat="player in playersInList">
                <td class="small-column-width text-right">{{ $index + 1 }}</td>
                <td>{{ player.PlayerName }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="col-xs-12 headerTable">
            <tr class="row">
                <th class="col-xs-4">Cash:</th>
                <th class="col-xs-4">Coupons:</th>
                <th class="col-xs-4">Other:</th>
            </tr>
        </table>
        <p class="printButton" data-ng-click="printPage()"><button class="btn btn-primary">Print</button></p>
    </div>
</div>