﻿.small-column-width { width: 50px; }
.signInList table, .signInList th, .signInList td { border: solid 1px #000; border-collapse: collapse; }
.playersTable { font-size: 18px; }
@media print 
{
    input { border: none; max-height: 25px; }
    .printButton { display: none; }   
}
