﻿table {
  margin-top: 1em;
  margin-bottom: 1em;
}
th,
td {
  padding: 3px 6px;
}
body {
  font-size: 12px;
  line-height: 1.6em;
  margin-bottom: 10px;
}
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 15px;
}
h1 {
  font-size: 1.6em;
  margin-top: 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 1em;
}
.navbar-default {
  color: #fff;
}
.loginDisplay p {
  line-height: 60px;
}
.alternateRow td {
  background-color: #eee;
}
.success {
  color: green;
  font-weight: bold;
}
.shortText {
  width: 40px;
}
.dateText {
  width: 80px;
}
.btn {
  font-size: 12px;
  line-height: 1.6em;
  padding: 5px 10px;
}
.panel {
  background-color: #eee;
}
.panel h2 {
  margin-top: 0;
}
.clear {
  clear: both;
}
.fauxLink {
  color: #18bc9c;
  cursor: pointer;
  text-decoration: underline;
}
/*# sourceMappingURL=Site.css.map */